* {
    background-color: aquamarine;
}

h1 {
    font-family: serif;
    text-align: center;
    font-size: 50px;
}

ol, ol li {
    background-color: #500101;
    color: #82f373;
}

ul {
    font-size: 20px;
}

ul li {
    margin: 15px;
}

a {
    background-color: rgb(250, 161, 250);
    display: inline-block;
    padding: 10px;
    border: 2px solid purple;
    margin: 10px;
}